.switch {
  &__movie,
  &__tv {
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-1);
  }

  &__gap {
    margin: 0 0.5rem;
  }
}

.darkGapBorder {
  border-left: 0.5px solid var(--dark-1);
  border-right: 0.5px solid var(--dark-1);
}

.lightGapBorder {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

@media screen and (max-width: 640px) {
  .switch {
    &__movie,
    &__tv {
      //font-size: 1rem;
    }
  }
}

.activeSwitch {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
}
