.switch__component {
  display: flex;
  align-items: center;

  border-radius: 5px;

  &__movie,
  &__tv {
    height: 37.6px;
    width: 100px;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__movie {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__tv {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  // &__gap {
  //   margin: 0 0.5rem;
  // }
}

.darkGapBorder {
  border-left: 0.5px solid var(--dark-1);
  border-right: 0.5px solid var(--dark-1);
}

.lightGapBorder {
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}

@media screen and (max-width: 640px) {
  .switch__component {
    &__movie,
    &__tv {
      width: 80px;
      font-size: 0.8rem;
      height: 35.2px;
    }
  }
}

.activeSwitch {
  font-weight: 500 !important;
  background: var(--red) !important;
  color: #fff !important;
  border-radius: 5px !important;
  box-shadow: 2px 0px 3px #000;
}
