.small-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 4;
  display: none;
  height: 58.6px;

  &__options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;

    .title {
      position: relative;
      text-decoration: none;
      padding: 0.1rem 0.25rem;
      cursor: pointer;
      font-weight: var(--font-weight-5);
      font-size: 1.5rem;
      background: var(--primary);
      color: #000;
      border-radius: 5px;
    }

    .title:hover {
      transform: translateY(3deg);
      transition: var(--transition);
    }
  }
}

@media screen and (max-width: 786px) {
  .small-header {
    display: flex;
    &__options {
      width: 100vw;
      display: flex;
      justify-content: center;

      .title {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .small-header {
    &__options {
      .title {
        display: none;
      }
    }
  }
}
