.small-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 4;
  display: none;

  &__options {
    margin: 0.5rem 1rem;

    .title {
      position: relative;
      text-decoration: none;
      color: var(--red);
      margin-right: 1rem;
      cursor: pointer;
      font-weight: var(--font-weight-2);
      font-size: 2rem;

      &__part--1 {
        margin-right: 0rem;
      }

      &__part--2 {
        margin-left: 2.4rem;
      }

      &__icon {
        color: #fff;
        position: absolute;
        bottom: -0.5rem;
      }
    }

    .title:hover {
      transform: translateY(3deg);
      transition: var(--transition);
    }
  }
}

@media screen and (max-width: 786px) {
  .small-header {
    display: flex;
  }
}
