.logout {
  position: absolute;
  top: 2.5rem;
  right: -1.5rem;

  transition: var(--transition);
  min-width: 100px;

  opacity: 0;
  z-index: -1;

  box-shadow: 0 2px 5px #000;
  border-radius: var(--border-radius-1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    padding: 0.5rem 0;
  }

  span:last-child {
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: var(--red);
    color: #fff;

    border-bottom-left-radius: var(--border-radius-1);
    border-bottom-right-radius: var(--border-radius-1);
  }

  span:last-child:hover {
    filter: brightness(80%);
    transition: var(--transition);
  }
}

@media screen and (max-width: 1300px) {
  .logout {
    position: absolute;
    //top: -5.3rem;
    right: 0.5rem;
  }
}

@media screen and (max-width: 786px) {
  .logout {
    position: absolute;
    top: -5.3rem;
    right: 0.5rem;
  }
}
