.option__main {
  //display: none;
  position: relative;
  margin-right: 5px;

  &__current {
    width: 80px;
    font-weight: 700;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary);
    color: #000;
    padding: 0.5rem 1rem;
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);

    &__icon {
      //margin-left: 1rem;
    }
  }

  &__option {
    font-weight: 400;
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 80px;
    text-transform: capitalize;
    position: absolute;
    top: 2.05rem;
    background: #fff;
    color: #000;
    z-index: -1;
    box-shadow: 0px 2px 4px #000;
    border-radius: var(--border-radius-1);
  }

  &__option:hover {
    filter: brightness(80%);
    transition: var(--transition);
  }
}
