.menu {
  position: fixed;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  z-index: 4;
  top: 0rem;
  //left: 15%;

  display: flex;
  flex-direction: column;

  color: #fff;
  transform: translateY(-120%);
  transition: var(--transition);

  &__inner {
    .title-close {
      background: #111;
      padding-top: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .title {
        text-align: center;
        position: relative;
        text-decoration: none;
        color: var(--red);
        font-weight: var(--font-weight-2);
        font-size: 2rem;
        padding: 0.5rem 1rem;

        &__part--1 {
          margin-right: 0rem;
        }

        &__part--2 {
          margin-left: 2.4rem;
        }

        &__icon {
          color: #fff;
          position: absolute;
          bottom: 0rem;
        }
      }

      .close-icon {
        position: relative;
        margin: 0;
        width: 40px;
        height: 40px;
        background: var(--red);
        color: #fff;
        border-radius: 50%;
        cursor: pointer;

        span {
          font-size: 1.3rem;
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__genre {
      padding: 1rem 0 1rem 0;
      background: #111;
      position: relative;
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      // height: calc(100vh - 120.4px);
      // overflow-y: scroll;

      &__inner {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 0rem;

        span {
          height: min-content;
          font-size: 0.9rem;
          background: #000;
          padding: 0.5rem 1rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          cursor: pointer;
          display: flex;
        }

        span:hover {
          color: var(--red);
          transition: var(--transition);
        }
      }
    }
  }
}
