.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-120%);
  transition: var(--transition);

  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin-left: 8px;

    .title-close {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        text-align: center;
        position: relative;
        text-decoration: none;
        color: var(--red);
        font-weight: var(--font-weight-2);
        font-size: 2rem;

        &__part--1 {
          margin-right: 0rem;
        }

        &__part--2 {
          margin-left: 2.4rem;
        }

        &__icon {
          position: absolute;
          bottom: -0.5rem;
        }
      }

      .close-icon {
        position: relative;
        margin: 0;
        width: 40px;
        height: 40px;
        background: var(--red);
        color: #fff;
        border-radius: 50%;
        cursor: pointer;

        span {
          font-size: 1.3rem;
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .close-icon:hover {
        filter: brightness(80%);
        transition: var(--transition);
      }
    }

    .category-title,
    .genre-title {
      font-size: 1.2rem;
      font-weight: 500;
      padding-left: 2rem;
    }

    &__genre,
    &__category {
      padding: 1rem 1rem 1rem 2rem;
      position: relative;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      // height: calc(100vh - 120.4px);
      // overflow-y: scroll;

      &__inner {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 0rem;

        p,
        span {
          margin: 0;
          height: min-content;
          font-size: 0.9rem;
          padding: 0.5rem 1rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          cursor: pointer;
          display: flex;
          text-transform: capitalize;
        }

        p {
          position: relative;
          span {
            position: absolute;
            top: 0.25rem;
            right: -0.25rem;
            display: inline-block;
            background: var(--red);
            color: #fff;
            width: 25px;
            text-align: center;
            padding: 0.25rem;
            margin: 0 0.5rem 0 0;
            text-transform: capitalize;
          }
        }

        p:hover,
        span:hover {
          letter-spacing: 2px;
          transition: var(--transition);
        }
      }
    }

    &__category {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .menu {
    &__inner {
      .category-title,
      .genre-title {
        font-size: 1rem;
      }

      &__genre {
        height: calc(100vh - 400.4px);
        overflow-y: scroll;

        &__inner {
          grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));

          span {
            font-size: 0.8rem;
          }
        }
      }

      &__category {
        &__inner {
          grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .menu {
    &__inner {
      &__category,
      &__genre {
        &__inner {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.activeCategory {
  background: var(--red);
  //color: #fff;
  //pointer-events: none;
}
