.categories {
  position: absolute;
  bottom: -9.5rem;
  box-shadow: 0 2px 5px #000;
  display: none;

  &__options {
    display: flex;
    flex-direction: column;

    &--option {
      display: flex;
      padding: 0.5rem 1rem;
      text-decoration: none;
      position: relative;

      span {
        margin-left: 1rem;
      }

      .number {
        position: absolute;
        top: -0.7rem;
        background: var(--red);
        color: #fff;
        height: 30px;
        width: 30px;
        text-align: center;
        border-radius: 50%;

        span {
          position: absolute;
          top: 45%;
          left: -4%;

          transform: translate(-50%, -50%);
        }
      }
    }

    &--option:hover {
      filter: brightness(80%);
      transition: var(--transition);
    }
  }
}
