.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;

  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
  color: #fff;

  //transition: var(--transition);

  &__options {
    width: 100%;
    max-width: 1280px;

    margin: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__one {
      .title {
        position: relative;
        text-decoration: none;
        color: var(--red);
        margin-right: 1rem;
        cursor: pointer;
        font-weight: var(--font-weight-2);
        font-size: 2rem;

        &__part--1 {
          margin-right: 0rem;
        }

        &__part--2 {
          margin-left: 2.4rem;
        }

        &__icon {
          color: #fff;
          position: absolute;
          bottom: -0.5rem;
        }
      }

      .title:hover {
        transform: translateY(3deg);
        transition: var(--transition);
      }
    }

    &__middle {
      display: flex;

      .movie,
      .tv {
        padding: 0.25rem 0.5rem;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
      }

      .line {
        margin: 0 0.5rem;
        border-right: 3px solid #fff;
      }

      .movie {
        margin-right: 0rem;
      }

      .movie:hover,
      .tv:hover {
        color: var(--red);
        transition: var(--transition);
      }
    }

    &__two {
      display: flex;
      align-items: center;
      justify-content: center;

      .mode-icon,
      .search-icon,
      .menu-icon,
      .home-icon {
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: var(--border-radius-1);
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        margin-left: 1rem;
        background: #000;
        color: #fff;
      }

      .user {
        position: relative;

        .user-icon,
        .close-icon,
        .login-icon {
          text-decoration: none;
          display: flex;
          align-items: center;
          border-radius: var(--border-radius-1);
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          margin-left: 1rem;
          background: #000;
          color: #fff;
        }

        .user-icon,
        .close-icon,
        .login-icon {
          margin-right: 0;
        }
      }

      .mode-icon:hover,
      .search-icon:hover,
      .user-icon:hover,
      .close-icon:hover,
      .login-icon:hover,
      .menu-icon:hover,
      .home-icon:hover {
        color: var(--red);
        transition: var(--transition);
      }
    }
  }
}

.activeMovie {
  background: var(--red);
  //color: #fff;
  pointer-events: none;
}

@media screen and (max-width: 786px) {
  .header {
    height: 58.6px;
    bottom: 0;
    justify-content: space-between;

    &__options {
      &__one {
        display: none;
        .title {
          display: none;
        }
      }

      &__middle {
        .line {
          display: block;
        }
        span {
          display: none;
        }
      }
    }
  }
}
