.search__component {
  width: 100%;
  position: relative;
  display: flex;

  &__search-bar {
    display: flex;
    align-items: center;

    form {
      position: relative;

      input {
        width: 484px;
        border: none;
        padding: 0.6rem 0.5rem;
        border-top-right-radius: var(--border-radius-1);
        border-bottom-right-radius: var(--border-radius-1);
        background: transparent;
        color: #fff;
        border-bottom: 1px solid #fff;
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        letter-spacing: 0.5px;
        color: #fff;
      }

      input:focus::placeholder {
        color: transparent;
      }

      span {
        color: #fff;
        position: absolute;
        top: 0.45rem;
        right: 0.3rem;
      }
    }

    .mode-icon {
      color: #fff;
      cursor: pointer;
      margin-left: 1rem;
      margin-bottom: -0.25rem;
    }

    .mode-icon:hover {
      color: var(--primary);
      transition: var(--transition);
    }
  }
}

@media screen and (max-width: 1024px) {
  .search__component {
    &__search-bar {
      form {
        input {
          width: 280px;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .search__component {
    display: none;
    width: calc(100vw - (88.58px + 3rem));
    &__search-bar {
      width: calc(100vw - (88.58px + 3rem));
      form {
        width: calc(100vw - (88.58px + 3rem));
        input {
          width: calc(100vw - (88.58px + 3rem + 100px + 2rem));
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .search__component {
    width: calc(100vw - (60px + 3rem));
    &__search-bar {
      width: calc(100vw - (60px + 3rem));
      form {
        width: calc(100vw - (60px + 3rem));
        input {
          width: calc(100vw - (60px + 3rem + 100px + 1.5rem));
        }
      }
    }
  }
}
