.search__component {
  display: flex;

  &__options {
    position: relative;
    width: 100px;
    margin-right: 0.1rem;

    .current {
      font-weight: 500;
      cursor: pointer;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      color: #000;
      height: 32px;
      border-top-left-radius: var(--border-radius-1);
      border-bottom-left-radius: var(--border-radius-1);

      span {
        padding: 0.25rem 0.5rem;
      }
    }

    .remaining {
      font-weight: 500;
      cursor: pointer;
      padding: 0.3rem 0.5rem;
      width: 84%;
      text-transform: capitalize;
      position: absolute;
      top: 2.05rem;
      background: #fff;
      color: #000;
      z-index: -1;
      box-shadow: 0px 2px 4px #000;
      border-radius: var(--border-radius-1);
    }

    .remaining:hover {
      background: var(--primary);
      transition: var(--transition);
    }
  }

  &__search-bar {
    display: flex;
    align-items: center;

    form {
      position: relative;

      input {
        width: 400px;
        border: none;
        padding: 0.5rem 1rem;
        //height: 30.4px;
        border-top-right-radius: var(--border-radius-1);
        border-bottom-right-radius: var(--border-radius-1);
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        letter-spacing: 0.5px;
      }

      input:focus::placeholder {
        color: transparent;
      }

      span {
        color: #555;
        position: absolute;
        top: 0.35rem;
        right: 0.5rem;
      }
    }

    .mode-icon {
      color: #fff;
      cursor: pointer;
      margin-left: 1rem;
      margin-bottom: -0.25rem;
    }

    .mode-icon:hover {
      color: var(--primary);
      transition: var(--transition);
    }
  }
}

@media screen and (max-width: 1024px) {
  .search__component {
    &__search-bar {
      form {
        input {
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .search__component {
    &__search-bar {
      form {
        input {
          //width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .search__component {
    &__search-bar {
      form {
        input {
          width: 150px;
        }
      }
    }
  }
}
